@import '^styles/utils';

.accordion {
  .summary {
    @include desktop() {
      padding: 0 1.5rem;
    }

    .content {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .details {
    padding: 0 1rem 1.5rem;

    @include desktop() {
      padding: 0 1.5rem 1.5rem;
    }
  }
}
