:root {
  --theme-color-grey-900: #15171a;
  --theme-color-grey-800: #292c33;
  --theme-color-grey-700: #3d414b;
  --theme-color-grey-600: #525866;
  --theme-color-grey-500: #686f80;
  --theme-color-grey-400: #7a8599;
  --theme-color-grey-200: #b8becc;
  --theme-color-grey-100: #dadee5;
  --theme-color-grey-050: #f5f7fa;
  --theme-color-grey-000: #fff;

  --theme-color-primary-900: #193239;
  --theme-color-primary-800: #18484e;
  --theme-color-primary-700: #22646d;
  --theme-color-primary-600: #2b818c;
  --theme-color-primary-500: #26a4b6;
  --theme-color-primary-400: #63c2cf;
  --theme-color-primary-300: #82cfd9;
  --theme-color-primary-200: #c9ecf0;
  --theme-color-primary-100: #e2fcff;
  --theme-color-primary-050: #f2feff;

  --theme-color-secondary-900: #5e1e0a;
  --theme-color-secondary-800: #812d11;
  --theme-color-secondary-700: #a5401a;
  --theme-color-secondary-600: #c95727;
  --theme-color-secondary-500: #ff6d1a;
  --theme-color-secondary-400: #f08f56;
  --theme-color-secondary-300: #f3ae76;
  --theme-color-secondary-200: #ffceb2;
  --theme-color-secondary-100: #ffefe5;
  --theme-color-secondary-050: #fff9f2;

  --theme-color-red-500: #fd3254;
  --theme-color-red-400: #ef8294;
  --theme-color-red-300: #ffb2bf;
  --theme-color-red-100: #ffe5ea;
  --theme-color-red-050: #fff6f8;

  --theme-color-green-500: #6cbe4e;
  --theme-color-green-400: #9cca82;
  --theme-color-green-300: #c8e1b9;
  --theme-color-green-100: #f0f6ee;
  --theme-color-green-050: #fafff9;

  --theme-color-yellow-500: #ffe433;
  --theme-color-yellow-400: #ffef85;
  --theme-color-yellow-300: #fff5b2;
  --theme-color-yellow-100: #fffce5;
  --theme-color-yellow-050: #fffef4;

  --theme-color-violet-500: #8469ff;
  --theme-color-violet-400: #a594f4;
  --theme-color-violet-300: #d4cff5;
  --theme-color-violet-100: #f0edfe;
  --theme-color-violet-050: #fbfaff;

  --theme-color-blue-500: #4891ff;
  --theme-color-blue-400: #83b2f8;
  --theme-color-blue-300: #c5d7f9;
  --theme-color-blue-100: #e2ecff;
  --theme-color-blue-050: #f3f8ff;
}
