.primary {
  background-color: var(--theme-color-primary-400);
}

.secondary {
  background-color: var(--theme-color-secondary-400);
}

.grey {
  background-color: var(--theme-color-grey-400);
}

.red {
  background-color: var(--theme-color-red-400);
}

.green {
  background-color: var(--theme-color-green-400);
}

.violet {
  background-color: var(--theme-color-violet-400);
}

.blue {
  background-color: var(--theme-color-blue-400);
}
