@import '^styles/constants';

@import '^styles/utils';

.baseLayout {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  @include desktop {
    align-items: stretch;

    padding-left: $navigation-width;
  }

  .content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }
}
